h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
  max-width: 1440px;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 1158px;
}

.navigation-title {
  display: flex;
  align-items: center;
}

.title-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}

.title-logo-span {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.navigation-list {
  position: relative;
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address-title-container {
  display: flex;
  gap: 40px;
  justify-content: end;
}

.address-title {
  font-style: normal;
}

.address-list {
  display: block;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

.main-list {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  gap: 48px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main-list-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 48px;
}

.main-list-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.main-list-button {
  display: block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 16px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-button:hover,
.main-list-button:focus {
  background-color: #404bbf;
}

/*  Section-our-features   */

.features-wrapper {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.wrapper-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/*  /Section-our-features   */

/*  Section-our-team */

.our-team-title {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main-team-container {
  display: flex;
  flex-direction: column;
}

.our-team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.our-team-list {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-picture {
  display: block;
  margin: 0 auto;
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list:hover,
.contacts-list:active,
.contacts-list:focus {
  background-color: #404bbf;
}

.wrapeper-contacts {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.icons {
  fill: #f4f4fd;
}

.tex-container {
  /* min-width: 264px; */
  padding-top: 32px;
  padding-bottom: 32px;
}

.our-employees {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.position-list {
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  /Section-our-team */

/*  Section-portfolio */

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  padding: 96px 16px;
  min-width: 320px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-wrapper {
    display: flex;
    justify-content: center;
  }
}

.portfolio-container {
  display: block;
  margin-bottom: 48px;
}

@media screen and (min-width: 720px) {
  .portfolio-container {
    display: flex;
  }
}

.wrapper-list {
  background: #fff;
  display: block;
  width: 288px;
  margin-bottom: 48px;
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .wrapper-list {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.wrapper-list:hover .overlay {
  transform: translateY(0%);
}

.wrapper-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 40px 36px 144px 28px;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02px;
}

.text-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  colorvar: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* / Section-portfolio */

/*   Footer sections */

.footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.footer-list {
  background: #2e2f42;
  padding: 100px 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.footer-title {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  display: inline-block;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*.div-logo {
  margin-right: 120px;
}*/

.social-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.icons-footer {
  display: flex;
  gap: 16px;
}

.icons-footer-hero {
  fill: #f4f4fd;
}

.icons-footer-list {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-list:hover,
.icons-footer-list:focus {
  background-color: #31d0aa;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  max-width: 453px;
  width: 100%;
}

.modal-list-wrapper {
  display: flex;
  gap: 24px;
}

.text-footer-form {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-modal-label {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  background-color: #404bbf;
}

.button-footer-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/*  End Footer sections */

/* Modal sections */

input {
  font-family: inherit;
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: #2e2f4266;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  border-radius: 4px;
  background-color: #fcfcfc;
  max-width: 408px;
  min-height: 584px;
  width: 100%;
  padding: 72px 24px 24px 24px;
  overflow-y: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:active,
.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:active + .modal-icons,
.modal-input:hover + .modal-icons,
.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-wrapper {
  margin-bottom: 16px;
}

.modal-label-wrapper {
  margin-bottom: 8px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:active,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}

.modal-privacy-policy {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-privacy:checked + .modal-privacy-policy .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icons {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icons,
.modal-close:focus .modal-close-icons {
  fill: #ffffff;
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:active,
.button-send:focus {
  background-color: #404bbf;
}
/* End Modal sections */

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .our-team-list {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .our-team-container {
    gap: 64px 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-team-container {
    gap: 24px;
  }

  .our-team-list {
    width: calc((100% - 72px) / 4);
  }
}
